
New Pet Clicker/Assets/Scripts/Main/ClickBehavior.cs
New Pet Clicker/Assets/Art/pets.meta
New Pet Clicker/Assets/Art/pets/rabbit.psb
New Pet Clicker/Assets/Art/pets/rabbit.psb.meta
New Pet Clicker/Assets/Prefabs/Business Game Object.prefab
New Pet Clicker/Assets/Prefabs/Business Game Object.prefab.meta
New Pet Clicker/Assets/Scripts/Businesses.meta
New Pet Clicker/Assets/Scripts/Businesses/Business.cs
New Pet Clicker/Assets/Scripts/Businesses/Business.cs.meta
New Pet Clicker/Assets/Scripts/Businesses/BusinessManager.cs
New Pet Clicker/Assets/Scripts/Businesses/BusinessManager.cs.meta
New Pet Clicker/Packages/manifest.json
New Pet Clicker/Packages/packages-lock.json
New Pet Clicker/ProjectSettings/ProjectVersion.txt
